
*.log
*.class
FALSE/RUNNING_PID
FALSE/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
FALSE/target/jpro/jprocp-file
FALSE/Data/albums/albums.csv
FALSE/Data/lyrics/lyrics.csv
FALSE/Data/songs/songs.csv
*.cfe
*.cfs
*.si
*.fdm
*.fdx
*.doc
*.pos
*.tim
*.tip
*.tmd
FALSE/Index/songs/segments_4
FALSE/Index/albums/segments_4
FALSE/Index/albums/segments_2
*.class
*.lock
FALSE/Index/songs/segments_3
