@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf');
}

.text {
    -fx-font-family: "Montserrat SemiBold";
}

.normaltext {
    -fx-font-size: 12;
}

.songoralbumtitletext {
    -fx-font-size: 13;
}

.mainmenubuttontext {
    -fx-font-size: 18;
}

.options {
    -fx-font-size: 14;
}

.titles {
    -fx-font-size: 15;
}

.smalltext {
    -fx-font-size: 11;
}

.smallesttext {
    -fx-font-size: 10;
}

.check-box:selected .mark {

    -fx-background-color: white;
    
}
    
.check-box:selected .box {

    -fx-background-color: linear-gradient(to bottom right, #FF2490, #FFA149);
}

.check-box .box {
    -fx-background-color: #181818;
    -fx-background-radius: 3;
}

.customtextfield {
    -fx-text-inner-color: rgb(255, 255, 255);
    -fx-prompt-text-fill: #6e6e6e;
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: #232323;
    -fx-border-radius: 6;
    -fx-border-color: #414141;
}    

.searchbar {
    -fx-text-inner-color: rgb(255, 255, 255);
    -fx-prompt-text-fill: #6e6e6e;
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: #232323;
    -fx-background-radius: 0 30 30 0;
}    

.customtextarea {
    -fx-text-inner-color: rgb(255, 255, 255);
    -fx-prompt-text-fill: #6e6e6e;
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: #232323;
    -fx-border-radius: 6;
    -fx-border-color: #414141;
}    

.customtextarea .content{
    -fx-text-inner-color: rgb(255, 255, 255);
    -fx-prompt-text-fill: #6e6e6e;
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: #232323;
    -fx-background-radius: 0;
}    

.scroll-pane {
    -fx-background-color: #1d1d1d;
}

.scroll-pane > .viewport {
    -fx-background-color: #1d1d1d;
    
} 

/* Credit for scrollbar: https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/*/
.scroll-bar{
 -fx-background-color: rgb(35, 35, 35);
 -fx-background-radius: 2em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 4;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 4;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}


/* Button Color Changing */

.mainmenusearchbutton {
    -fx-background-color: linear-gradient(to bottom right, #55A3EB, #006F76);
}

.mainmenusearchbutton:hover {
    -fx-background-color: linear-gradient(to bottom right, #9bc7f0, #006F76);
}

.mainmenusearchbutton:pressed {
    -fx-background-color:  linear-gradient(to bottom right, #4a91d3, #006F76);
}


.mainmenuaddbutton {
    -fx-background-color:  linear-gradient(to bottom right, #78DF7C, #37A83C);
}

.mainmenuaddbutton:hover {
    -fx-background-color: linear-gradient(to bottom right, #b4fdb6, #37A83C);
}

.mainmenuaddbutton:pressed {
    -fx-background-color:  linear-gradient(to bottom right, #7edf81, #37A83C);
}


.mainmenuexitbutton {
    -fx-background-color:   linear-gradient(to bottom right, #FFA149, #ff2424);
}

.mainmenuexitbutton:hover {
    -fx-background-color: linear-gradient(to bottom right, #f5c497, #ff2424);
}

.mainmenuexitbutton:pressed {
    -fx-background-color:  linear-gradient(to bottom right, #fa902c, #ff0000);
}

.addpagebutton {
    -fx-background-color: #232323;
    /* -fx-background-radius:  0 0 12 0; */
}

.addpagebutton:hover {
    -fx-background-color: #2b2b2b;
}

.addpagebutton:pressed {
    -fx-background-color:  #1f1f1f;
}



.filepagegreybutton {
    -fx-background-color: linear-gradient(to bottom right, #2A2A2A, #181818);
    /* -fx-background-radius:  0 0 12 0; */
}

.filepagegreybutton:hover {
    -fx-background-color: linear-gradient(to bottom right, #303030, #252525);
}

/* 
.filepagegreybutton:pressed {
    -fx-background-color:  #1f1f1f;
} */

.filepageorangebutton {
    -fx-background-color:  linear-gradient(to bottom right, #FF2490, #FFA149);
    /* -fx-background-radius:  0 0 12 0; */
}

.filepageorangebutton:hover {
    -fx-background-color:  linear-gradient(to bottom right, #ff3098, #ffaa5b);
}

.confirmbutton {
    -fx-background-color:  linear-gradient(to bottom right, #78DF7C, #37A83C);
    /* -fx-background-radius:  0 0 12 0; */
}

.confirmbutton:hover {
    -fx-background-color:  linear-gradient(to bottom right, #9ff5a2, #37A83C);
}

.confirmbutton:pressed {
    -fx-background-color:  linear-gradient(to bottom right, #61ce64, #28972e);
}


.editbutton {
    -fx-background-color: linear-gradient(to bottom right, #FF2490, #FFA149);
}

.editbutton:hover {
    -fx-background-color:  linear-gradient(to bottom right, #ff3098, #ffaa5b);
}

.editbutton:pressed {
    -fx-background-color:  linear-gradient(to bottom right, #cd2b7c, #c57b37);
}